extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
block body
  .ldcv.ldcvmgr.scroll(data-name="dev-note"): .base.w-768.rwd: .inner.card: .card-body
    .typeset.heading-contrast

      p 活動後台頁面
      h5 入口:
      ul
        li 個人檔案
        li 活動資訊頁
        li 活動提案列表
      h5 出口
      ul
        li 活動提案列表
        li 活動資訊頁
        li 活動資訊頁編輯器
      h5 主要功能:
      ul
        li 預覽活動
        li 修改活動資訊
        li
          p 調整活動狀態
          ul
            li 開關報名 / 尚未開跑 / 活動中 / 活動結束
            li 開關編輯 / 開關評論 / 開關評審
            li 設定階段 ( 多階段活動用 )
            li 發布活動 ( 發布時檢查所有資訊是否完整 )
        li
          p 提案資訊
          ul
            li 提案數
            li 評論狀況
        li 角色調整
        li 刪除活動/隱藏活動
      p 活動 schema
      .code-block.
        activity
          description - text(300)
          title - text(100)
          slug - text(32) not null unique
          key - int not null unique primary key
          deleted - bool
          visible - bool
          detail: jsonb
          createdtime - timestamp
          modifiedtime - timestamp
          orgnization - int foreign key(organization)
          owner - int foreign key(user)
          - index key, slug, createdtime



  .w-1200.mx-auto.d-flex
    .p-4
      .sticky
        +act-card-sm

        .text-center
          br
          .list-group.mb-4
            .list-group-item(href="/org/") 所屬組織
            .list-group-item(href="/activity/") 活動主頁
            .list-group-item 資訊分析

    .p-4.flex-grow-1

      .navbar.navbar-expand-lg.navbar-light.mb-4.border.shadow-sm.rounded.sticky.z-fixed.bg-white
        a.navbar-brand(href="#") 活動頁面
        button.navbar-toggler(data-toggle="colapse",data-target="#main-menu"): span.navbar-toggler-icon
        .collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item: a.nav-link(href="#") 基本資訊
            li.nav-item: a.nav-link(href="#") 設定
            li.nav-item: a.nav-link(href="#") 權限
            li.nav-item: a.nav-link(href="#") 主頁設計
            li.nav-item: a.nav-link(href="#") 統計分析
          ul.navbar-nav.ml-auto
            li.nav-item: a.nav-link(href="/org/dashboard.html") 組織設定


      .card.mb-4.shadow-sm: .card-body: .p-4
        ul.nav.nav-tabs.mb-4
          li.nav-item: a.nav-link.active 預設
          li.nav-item: a.nav-link 提案期
          li.nav-item: a.nav-link 審查期
          li.nav-item: a.nav-link 決選發表
          li.nav-item.flex-grow-1.text-right: a.nav-link.text-muted.border-0 新增 +
        .alert.alert-light.border 你可以為這個活動建立不同的階段，並為這些階段設定起迄時間；而當時間在任何階段以外的時候，活動將會套用此處的預設值。
        //-.row.mb-2.pb-2
          .col-md
            label 起始時段
            .d-flex
              input.form-control.mr-2(type="date")
              input.form-control(type="time")
          .col-md
            label 結束時段
            .d-flex
              input.form-control.mr-2(type="date")
              input.form-control(type="time")
        mixin config-sm(name)
          .form-group.mr-2.flex-grow-1
            label #{name}
            .btn-group.d-block.d-flex
              .btn.btn-outline-secondary ON
              .btn.btn-outline-secondary OFF
        mixin config(name,desc)
          .d-flex.mb-2.pt-2.align-items-center.border-top.border-light
            .flex-grow-1
              label.mb-0 #{name}
              .text-sm.text-muted #{desc}
            div
              if Math.random() < 0.5
                .switch.on
              else
                .switch
              style(type="text/css"): :stylus
                .switch
                  border: 1px solid #ccc
                  padding: 1px
                  border-radius: 1.75em
                  width: 3.25em
                  background: #edeeef
                .switch:after
                  content: " "
                  display: block
                  border-radius: 50%
                  box-shadow: 0 2px 4px rgba(0,0,0,.2)
                  width: 1.75em
                  height: 1.75em
                  background: #fff
                .switch.on
                  background: #00ff7b
                .switch.on:after
                  margin-left: auto


            //-div: .btn-group
              .btn.btn-outline-secondary.active ON
              .btn.btn-outline-secondary OFF

        .row.form
          .col-md
            +config("活動公開", "一般人都可以看到這個活動")
            +config("提案功能", "註冊使用者可以自由提案")
            +config("評論功能", "註冊使用者可以針對不同提案進行評論")
          .col-md
            +config("修改提案", "提案人可以修改自己的提案")
            +config("修改評論", "留言用戶可以修改自己的評論")
            +config("評審功能", "被標註為評審的使用者可以針對提案進行評論")

        //-.d-flex
          +config("活動公開", "一般人都可以看到這個活動")
          +config("提案功能", "註冊使用者可以自由提案")
          +config("評論功能", "註冊使用者可以針對不同提案進行評論")
          +config("修改提案", "提案人可以修改自己的提案")
          +config("修改評論", "留言用戶可以修改自己的評論")
          +config("評審功能", "被標註為評審的使用者可以針對提案進行評論")

      +scope("board-create").card.shadow-sm.mb-4: .card-body: .p-4
        h2 編輯活動
        hr.my-4
        +edit-entry({title: "活動名稱"}): +edit-text({name: "title"})
        +edit-entry({title: "活動代碼"}): +edit-text({name: "slug"})
        +edit-entry({title: "活動摘要"}): +edit-moretext({name: "description"})
        .row
          .col-md: +edit-entry({title: "開始時間"}): +edit-date({name: "starttime"})
          .col-md: +edit-entry({title: "結束時間"}): +edit-date({name: "endtime"})
        //-+edit-entry({title: "活動滿版圖 ( 1200 x 800 px )"}): +edit-image({name:"fullimg"})
        +edit-entry({title: "活動橫幅 ( 1200 x 200 px )"}): +edit-image({name:"banner"})
        +edit-entry({title: "活動縮圖 ( 200 x 200 px )"}): +edit-image({name:"avatar"})
        hr.my-4
        .btn.btn-primary.disabled(ld="submit") 更新資料

      +nbr(2)
      .card.w-100.mb-4: .card-body

        h4 權限設定
        .text-muted.text-sm.mb-4 權限設定讓您指派特定用戶來協助您管理維護您的組織、活動與用戶提案。我們已經預建了數種不同的角色，您可以依需求指派用戶到這些角色之中。

        ul.nav.nav-tabs.mb-4
          li.nav-item: a.nav-link.active 管理員
          li.nav-item: a.nav-link 工作人員
          li.nav-item: a.nav-link 協作
          li.nav-item: a.nav-link 黑名單
          li.nav-item: a.nav-link 詳細清單
          li.nav-item.flex-grow-1.text-right: a.nav-link.text-muted.border-0 新增 +

        .px-4
          .text-muted.mb-4 擁有管理此活動的所有權限，包含設定權限、更改任何設定等。
          .d-flex.flex-wrap.justify-content-between
            each i in [1,2,3,4,5]
              .d-flex.align-items-center.mr-4.mb-4.pr-4
                .mr-2(style="width:32px"): .aspect-ratio.ratio-1by1.bg-dark.rounded
                div
                  b.mr-2 Kirby Wu
                  i.i-close.text-danger
            //-each i in [1,2,3,4,5]
              .d-flex.align-items-center.mr-4.mb-4.pr-4
                .mr-2(style="width:64px"): .aspect-ratio.ratio-1by1.bg-dark.rounded
                div
                  b Kirby Wu
                  .text-muted.dropdown-toggle 管理員
            //-.mr-2.rounded.border(style="height:64px;width:128px").px-4: .vertical-center 新增
          .btn.btn-outline-primary 新增 .. 

        //-.d-flex.align-items-center
          .mr-2(style="width:48px"): .aspect-ratio.ratio-1by1.bg-dark.rounded
          .font-weight-bold.flex-grow-1 Kirby Wu
          .dropdown
            .btn.btn-outline-secondary 管理員
            .dropdown-menu
        br
        //-.d-flex.flex-wrap.justify-content-between
          each i in [1,2,3,4,5]
            .d-flex.align-items-center.mr-4.mb-4.pr-4
              .mr-2(style="width:64px"): .aspect-ratio.ratio-1by1.bg-dark.rounded
              div
                b Kirby Wu
                .text-muted.dropdown-toggle 管理員
        +nbr(2)
        //-.typeset
          h4 管理員
          hr.my-2
          p 擁有管理此活動的所有權限，包含設定權限、更改任何設定等。
          h4 工作人員
          hr.my-2
          p 可以設定活動資訊，審核留言與提案。
          h4 協作
          hr.my-2
          p 留言會被特別標註。
          h4 黑名單
          hr.my-2
          p 帳號鎖定，無法留言、提案或任何其它互動。
      .card.w-100.mb-4: .card-body
        .d-flex.w-50.ml-auto
          input.form-control.mr-2(type="date")
          input.form-control(type="date")
        img(src="/assets/img/c/chart/line.svg")


block script
  +script("/js/edit.js")
  +script("/js/modules/board/index.js")
