extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
  - ctrl.navtop.className = "navbar-light text-dark bg-white"
block body
  include dev-note.pug
  include mixins/index.pug
  .w-1024.mx-auto.d-flex
    .px-4.pb-4
      .sticky(style="top:55px")
        +act-card-sm
        .text-center
          br
          p.text-muted.text-sm 這裡是您活動的管理後台。
          hr
          .btn.btn-text.btn-block(href="/org/") 所屬組織
          .btn.btn-text.btn-block(href="/activity/") 活動主頁
          .btn.btn-text.btn-block 資訊分析

    .px-4.pb-4.flex-grow-1

      .navbar.navbar-expand-lg.navbar-light.mb-4.border.shadow-sm.rounded.sticky.z-fixed.bg-white(style="top:55px")
        .collapse.navbar-collapse
          ul.nav.nav-pills.mr-auto(ld="tabbar")
            li.nav-item: a.nav-link.active(ld="tabbar-tab default",data-name="basic") 基本資訊
            li.nav-item: a.nav-link(ld="tabbar-tab",data-name="config") 階段
            li.nav-item: a.nav-link(ld="tabbar-tab",data-name="perm") 權限
            li.nav-item: a.nav-link(ld="tabbar-tab",data-name="form") 提案表
            li.nav-item: a.nav-link(ld="tabbar-tab",data-name="analysis") 視覺統計
          ul.navbar-nav.ml-auto
            li.nav-item: a.nav-link(href="/org/dashboard.html") 組織設定
      .card.mb-4.shadow-sm.ld.ld-float-btt-in.xhalf.d-none(ld="tabbar-panel",data-name="config")
        .card-body: .p-4: +config-panel
      .card.mb-4.shadow-sm.ld.ld-float-btt-in.xhalf.d-none(ld="tabbar-panel",data-name="perm")
        .card-body: .p-4: +permission-panel
      .card.mb-4.shadow-sm.ld.ld-float-btt-in.xhalf.d-none(ld="tabbar-panel",data-name="form")
        .card-body: .p-4: +scope("activity-form")
          h4 提案表
          p.text-sm.text-muted 您可以在這裡設定提案 / 報名時，提案人所需要提交的表格。
          hr.my-4
          include form.pug


      .card.mb-4.shadow-sm.ld.ld-float-btt-in.xhalf(ld="tabbar-panel default",data-name="basic")
        .card-body: .p-4: +scope("activity-basic")
          h4 基本資訊
          p.text-sm.text-muted 您可以在這裡為設定整個活動的通用資訊，例如名稱、簡介、主視覺、活動時間等等。
          hr.my-4
          .row.align-items-center.mb-4
            .col-md-3.text-right 活動名稱
            .col-md: input.form-control.border-bottom.rounded-0(style="border:0")
          .row.align-items-center.mb-4
            .col-md-3.text-right 活動代碼
            .col-md: input.form-control.border-bottom.rounded-0(style="border:0")
          .row.align-items-start.mb-4
            .col-md-3.text-right 活動摘要
            .col-md: textarea.form-control(rows="4")
          .row.align-items-center.mb-4
            .col-md-3.text-right 起迄時間
            .col-md
              .d-flex.align-items-center
                input.form-control.border-bottom.rounded-0(style="border:0")
                .text-sm.mx-2 至
                input.form-control.border-bottom.rounded-0(style="border:0")
          .row.align-items-start.mb-4
            .col-md-3.text-right 活動主圖
            .col-md: .w-100: .aspect-ratio.ratio-2by1.bg-secondary.rounded.overflow-hidden
              .vertical-center.bg-semi-dark: .w-100.text-center: .btn.btn-outline-light.btn-upload 上傳 #[input(type="file")]
          .row.align-items-center.mb-4
            .col-md-3.text-right 所屬組織
            .col-md
              select.form-control
                option 無

          hr.my-4
          .d-flex.justify-content-end
            div: .btn.btn-primary.disabled(ld="submit") 更新資料

      .card.mb-4.shadow-sm.ld.ld-float-btt-in.xhalf.d-none(ld="tabbar-panel",data-name="analysis"): .card-body: .p-4
        +scope("activity-analysis")
          h4 視覺統計
          p.text-sm.text-muted 透過圖表與數據概略的了解目前活動進展、完成度與用戶參與的情形。
          hr.my-4
          .d-flex.w-100.mb-4
            input.form-control.mr-2(type="date")
            input.form-control(type="date")
          img.w-100(src="/assets/img/c/chart/line.svg")


block script
  +script("/js/edit.js")
  +script("/js/modules/board/index.js")
  +script("/assets/lib/ctrlz/ctrlz.bundle.min.js")
  +script("/js/activity/config.js")
  +script("/js/activity/perm.js")
  +script("/js/activity/tabbar.js")
