extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
block body
  .p-4
    .w-640.mx-auto
      include switch.pug
      .card.mb-4.shadow-sm: .card-body: .p-4
        h4 活動設定
        .text-muted.text-sm.mb-4 活動設定讓您針對不同時間設定不同的活動狀態。例如，您可以設定在活動發表的 60 天後才開放提案，同時設定 90 天後進入評審階段。
        ul.nav.nav-tabs.mb-4(ld="nav")
          li.nav-item(ld-each="period"): a.nav-link
          li.nav-item.flex-grow-1.text-right: a.nav-link.text-muted.border-0 新增 +
        .alert.alert-light.border(ld="default") 你可以為這個活動建立不同的階段，並為這些階段設定起迄時間；而當時間在任何階段以外的時候，活動將會套用此處的預設值。
        .d-none(ld="custom"): .row.mt-2.mb-4
          .col-md
            label 起始時段
            .d-flex
              .input-group
                input.form-control(ld="start time",type="date")
          .col-md
            label 結束時段
            .d-flex
              .input-group
                input.form-control(ld="end time",type="date")

        .row.form
          .col-md
            +config("活動公開", "一般人都可以看到這個活動")
            +config("提案功能", "註冊使用者可以自由提案")
            +config("評論功能", "註冊使用者可以針對不同提案進行評論")
          .col-md
            +config("修改提案", "提案人可以修改自己的提案")
            +config("修改評論", "留言用戶可以修改自己的評論")
            +config("評審功能", "被標註為評審的使用者可以針對提案進行評論")
        hr
        .d-flex.mt-4
          .flex-grow-1: .btn.btn-outline-danger(ld="delete") 刪除
          .d-none(ld="custom"): .d-flex.align-items-center
            span.mr-2 階段名稱
            div: input.form-control(ld="name")

block script
  +script("/assets/lib/ctrlz/ctrlz.bundle.min.js")
  +script("/js/activity/config.js")
