extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
block body
  include switch.pug
  .p-4: .w-640.mx-auto: .card.w-100.mb-4.shadow-sm: .card-body: .p-4
    h4 權限設定
    .text-muted.text-sm.mb-4 權限設定讓您指派特定用戶來協助您管理維護您的組織、活動與用戶提案。我們已經預建了數種不同的角色，您可以依需求指派用戶到這些角色之中。

    ul.nav.nav-tabs.mb-4(ld="roles")
      li.nav-item: a.nav-link.active(ld="role-all",data-type="all",data-name="") 清單
      li.nav-item(ld-each="role"): a.nav-link
      li.nav-item.flex-grow-1
      li.nav-item.text-right: a.nav-link.text-muted.border-0(ld="new-role") 新增 +

    .form-group.mb-2(ld="role-view")
      input.form-control(ld="role-name",placeholder="角色名稱")
      .invalid-feedback 不能用這個名稱
    .alert.alert-light.px-2.mb-4.border
      .text-muted(ld="role-desc-all",data-name="") 此列表列出所有出現在權限設定中的用戶，以及他們所擔任角色。
      div(ld="roles-desc")
        .text-muted.d-none(ld-each="role-desc",contenteditable="true")

    .px-0.d-none(ld="role-view")
      hr
      .btn.btn-outline-danger(ld="delete-role") 刪除角色

block script
  +script("/assets/lib/ctrlz/ctrlz.bundle.min.js")
  +script("/js/activity/perm.js")
