extends /base.pug
block vars
  - ctrl.navtop.shown = true
  - ctrl.navtop.placeholder = false
  - ctrl.navtop.className = "navbar-light bg-semi-light"
  - ctrl.foot.shown = false

block head
block body
  include /design/mixins/index.pug
  .w-100.h-100: .vertical-center: .w-100
    .w-640.card.mx-auto.shadow-sm
      .card-body
        include criteria-form.pug

  .w-100.h-100: .vertical-center: .w-100
    .w-640.card.mx-auto.shadow-sm
      .card-body
        h3 資格審核
        p.text-muted 編輯提案所需具備的資格清單與細節。此列表將運用在評選時的資格審核表中。
        hr
        each i in [1,2,3]
          .py-3
            h5 開源
            p 開源（開放原始碼）是指將成果用開放授權的方式公開出來，讓其他人可以直接使用、改作、加入協作或發展出更新的版本。好處是過程透明、更容易協作，成果共享。從這個影片可以看到更多關於開源運動的介紹。
        .text-right: .btn.btn-primary 關閉
