extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
block body
  include switch.pug
  .p-4
    .w-640.mx-auto
      .card.mb-4.shadow-sm: .card-body: .p-4


block script
  +script("/assets/lib/ctrlz/ctrlz.bundle.min.js")
  +script("/js/activity/config.js")
