extends /base.pug
block vars
  - ctrl.scrollspy = "#scrollspy-nav"
  - var data = {}
  -
    data.prj = {
      id: 123,
      name: "台灣神手計畫",
      owner: 123,
      ownerName: "神手健",
      description: "台灣神手致力發展適合台灣人的開源義肢，並將程式碼、3D檔案、電路佈局開源於”台灣神手開源義肢“網站"
    }
  -
    data.org = {
      id: 123,
      name: "零時政府揪松團",
      description: "零時政府揪松團（ jothon）是主辦  百人大黑客松與基礎松的工作小組（task force），2012 年底開始舉辦雙月大松，2014 年後正式取名為「揪松團」，並於 2016 年開始招募正職員工，重啟社群基礎建設計畫，希望在大黑客松之餘，讓線上與線下的跨界協作更為順暢。"
    }
block head
block body

  mixin config(name,desc)
    .d-flex.mb-2.pt-2.align-items-center.border-top.border-light
      .flex-grow-1
        label.mb-0 #{name}
        .text-sm.text-muted #{desc}
      .ml-2
        .switch(ld="switch",data-name=name)

  .w-1024.mx-auto.rwd.mt-3
    .row
      .col-md-10
        .heading-contrast.typeset(data-spy="scroll",data-target="#scrollspy-nav",style="overflow-y:auto")
          .d-flex.align-items-end.mb-4
            h1.my-0 設計參考
            .text-lg.text-muted / Design Reference
          hr
          p 基本字型使用 Noto Sans TC 與 Roboto。

          h2 卡式元件

          include mixins/brd.pug
          include mixins/org.pug
          include mixins/prj.pug
          include mixins/user.pug
          include mixins/form.pug

          h4 活動
          hr
          .d-flex.align-items-start.pb-4.justify-content-around
            .mr-4
              .mb-2 brd-card-sm
              +brd-card-sm({name: "2019春季公民科技獎助金", orgName: "零時政府揪松團"})
            div
              .mb-2 brd-card
              +brd-card({name: "2019春季公民科技獎助金", orgName: "零時政府揪松團"})

          h4 組織
          hr
          .d-flex.align-items-start.pb-4.justify-content-around
            .mr-4
              .mb-2 org-card-sm
              +org-card-sm(data.org)
            div
              .mb-2 org-card
              +org-card(data.org)

          h4 提案
          hr
          .d-flex.align-items-start.pb-4.flex-wrap.justify-content-around
            .mr-4.mb-4
              .mb-2 prj-card-sm
              +prj-card-sm(data.prj).shadow-sm
            .mr-4.mb-4
              .mb-2 prj-card
              +prj-card(data.prj).shadow-sm
            .mr-4.mb-4
              .mb-2 prj-thumb
              +prj-thumb(data.prj)
            .mr-4.mb-4
              .mb-2 prj-card-noframe
              +prj-card-noframe(data.prj)
            .my-4.w-100.pl-4
              .mb-2 prj-list-sm
              +prj-list-sm(data.prj).p-2.rounded.shadow-sm
            .my-4.w-100.pl-4
              .mb-2 prj-list
              +prj-list(data.prj).p-2.rounded.shadow-sm

          h4 用戶
          hr
          +user

          h2 表單元件
          .row
            .col-md: +config("開關選項", "此為額外的說明文字")
            .col-md: +config("開關選項", "此為額外的說明文字")

          h4 表單
          hr
          +form-short-answer({})
          +form-long-answer({})
          +form-upload-file({})
          +form-checkbox({})
          +form-radio({})

          h4 功能元件 ( TBD )
          hr
          ul
            li 建立提案
            li 提案列表

          h2 頁面列表
          h4 活動
          ul
            li
              span 頁面
              ul
                li: a(href="/design/b/create.html") 建立活動
                li: a(href="/design/b/dashboard.html") 主控台
                li 頁面編輯器
                li 分析圖表
                li
                  span 頁面範本
                  ul: li 首頁
                li
                  span 提案
                  ul
                    li: a(href="/design/b/prj-list.html") 提案列表
                    li: a(href="/design/b/prj-create.html") 建立提案 / 編輯提案 / 瀏覽提案
              span 元件
              ul
                li: a(href="/design/b/judge/criteria.html") 編輯資格列表
          h4 評選
          ul
            li
              span 頁面
              ul
                li
                  span 資格審核 -
                  a.mx-1(href="/design/b/judge/review.html") 個人審核表
                  span.mx-1 /
                  span.mx-1 匯整表
                li
                  span 評選 - 
                  a.mx-1(href="/design/b/judge/user.html") 個人評選表
                  span.mx-1 /
                  a.mx-1(href="/design/b/judge/all.html") 評選總表
                  span.mx-1 /
                  a.mx-1(href="/design/b/judge/schulze.html") 孔多塞圖表
                li
                  span 獲選 - 
                  a.mx-1(href="/design/b/judge/result.html") 獲選提案清單
                  span.mx-1 /
                  a.mx-1(href="/design/b/judge/sign.html") 獲選提案簽名板
              span 元件
              ul
                li: a(href="/design/b/judge/review-modal.html") 審核結果摘要 - 單一提案

          h4 用戶
          ul
            li: a(href="/design/me/") 用戶主頁

          h2 元件列表
          h4 活動
          ul
          h4 評選
          h4 設計中
          ul
            li: a(href="/design/work/sortable.html") 導覽列編輯
            li: a(href="/design/work/edit.html") 頁面編輯
            li: a(href="/design/work/404.html") 404 頁面



      .col-md-2
        nav#scrollspy-nav.navbar.navbar-light.bg-white.border-left.sticky
          .navbar-brand Design Spec
          a.nav-link(href="#card",data-scrollto="#card") 卡式元件
          a.nav-link(href="#brd",data-scrollto="#brd") 活動
          a.nav-link(href="#org",data-scrollto="#org") 組織
          a.nav-link(href="#prj",data-scrollto="#prj") 提案
          a.nav-link(href="#user",data-scrollto="#user") 用戶
          a.nav-link(href="#form",data-scrollto="#form") 表單元件
          a.nav-link(href="#form-widget",data-scrollto="#form-widget") 控制項
          a.nav-link(href="#form-block",data-scrollto="#form-block") 區塊
          a.nav-link(href="#pages",data-scrollto="#pages") 頁面列表
  +nbr(5)
