extends base.pug
block body
  .w-1024.mx-auto.py-4
    .row
      .col-md-7
        .text-muted 用戶歷程
        h2.my-0 工作人員
        hr
        div: :md
          bess 是活動的工作人員，負責審核提案。在活動開始報名一段時間後， bess 會逐一的讀過一則則的提案，確認最基本的提案標準是否有達成, 並且對待改進的提案提出改進建議。在提案修改截止後，便逐一的確認所有專案的資格是否符合，並加以註記。

          bess 並不是唯一的審核員，另一位審核員 ichieh 也會同時進行審核。他們會討論彼此分工的方式，但並不會完全錯開。最後兩人的審查結果會匯整成一份總表，提交給評審做為參考依據。
      .col-md-5
        img(style="width:100%",src="/assets/img/design/report/staff.svg")
    h3 主要需求
    hr
    div: :md
      #### 活動控管
      * 設定活動的期程

      #### 提案預審
      * 紀錄提案檢核進度與狀況
        * 與提案人的溝通進度
      * 資格審核
        * 考慮到提案人可能會修改提案，審核應在修改截止後再開始進行。
        * 考慮到多個審核員的狀況，審核工具應該要能區分審核員，同時表現出其它審核員的進度
      * 審核表匯整

    h3 用戶歷程
    ul
      li: h5 開啟審核表
      li
        h5 下一個要審核的是 ....
        p 從多個提案中，挑出一個待審的提案來審核。
        p (決定)
        ul
          li 用戶
      li: h5 分析提案
      li: h5 加註, 評筆
      li: h5 通知用戶

