extends /auth/base.pug
block content
  h1 Email Address Verified.
  p It's time to make some fresh animations!

  br
  br
  p 
    div Any issues or questions about your account?
    div Please #[a(href="#",data-ldcv-toggle="contact") contact us] directly.
