//- module

- data = {}
-
  data.prj = {
    id: 123,
    name: "台灣神手計畫",
    owner: 123,
    ownerName: "神手健",
    description: "台灣神手致力發展適合台灣人的開源義肢，並將程式碼、3D檔案、電路佈局開源於”台灣神手開源義肢“網站"
  }
-
  data.schema = [
    {
      title: "專案名稱",
      name: "name",
      description: "請填入您的提案名稱 ( 20 字以內 )",
      type: "short-answer",
      value: "台灣神手計畫"
    },
    {
      title: "專案簡介",
      name: "brief",
      description: "請以簡短且非專業人士也能理解的方式介紹此專案。 ( 200 ~ 500 字 )",
      type: "long-answer",
      value: "台灣神手致力發展適合台灣人的開源義肢，並將程式碼、3D檔案、電路佈局開源於”台灣神手開源義肢“網站 "
    },
    {
      title: "你需要多少錢？",
      name: "money",
      description: "( 30 ~ 50 萬之間 )",
      type: "short-answer",
      value: "30 萬"
    },
    {
      title: "提案者簡介",
      name: "owner",
      description: "請簡短的介紹提案成員 ( 80 ~ 120 字 )",
      type: "long-answer",
      value: "張淑貞，參與農地污染和違章工廠資料開放推動及應用。劉哲瑋，參與 g0v 公有地相關議題專案。"
    },
    {
      title: "團隊成員簡介",
      name: "team",
      description: "請簡述提案者在專案中的角色（例如：專案經理、全端工程師、顧問等）、專案成員與團隊背景介紹。（團隊現在有什麼人才？還需要什麼人才？）",
      type: "long-answer",
      value: "需要人才 : 1.資料工程師，建置資料申請關鍵字工具及資訊呈現。 2.使用者介面設計者，規劃便於目標對象使用的介面。"
    },
    {
      title: "個人動機",
      name: "motivation",
      description: "你為什麼要做這個計劃（個人動機）？",
      type: "long-answer",
      value: "開放資料，是政府公平透明治理的第一步。目前中央的政府資料開放平台 (data.gov.tw) 公開民眾申請資料及政府機關回覆內容，這點其實已很進步，但還有進步空間，例如民眾申請常被駁回，平台本身也沒有進一步統整民眾申請資料的結果，導致前人經驗很難提供後面申請者參考。另外，民眾收到政府駁回開放資料的原因後，也不知該如何處理或進一步要求，可能就此打住。"
    },
    {
      title: "相關文件",
      name: "document",
      description: "若有專案介紹的投影片，請提供",
      type: "upload-file"
    },
    {
      title: "主題分類",
      name: "category",
      description: "依獎助金的主題方向畫分的話，本計畫屬於哪個分類？",
      values: ["開放政府","新媒體","公共服務","開放資料","社會參與","基礎建設"],
      type: "radio",
      value: "開放資料"
    }
  ]
