//- module

mixin org-card-sm
  a.card.shadow.text-dark(href="/org/landing.html",
  style="text-decoration:none;width:250px")&attributes(attributes)
    .card-img-top.bg-dark(style="height:200px")
    .card-body
      h5 TVBS 信望愛基金會
      .text-muted.text-sm TVBS 聯利媒體股份有限公司為積極倡議「生態文明」與「建設性新聞學」，於2016 年成立「 TVBS 信望愛永續基金會」...
